@font-face {
font-family: space;
src: url('../font/Sistypos/space-bd-bt-bold.ttf');
}
.borde{
	border: 1px solid #000;
}
hr{
	border-top: 7px solid #00BF99;
}
#imgCel{
	margin-left: 15%;
	width: 72%;
}
#cel{
	z-index: 80;
	margin-top: -70%;
}
#imgTablet{
	width: 70%;
}
input[type="text"].fondoInput,input[type="email"].fondoInput{
	background: #8CC63F;
	font-family: Helvetica;
}
textarea.fondoTextArea{
	background: #8CC63F;
	font-family: Helvetica;
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

:-ms-input-placeholder {  
   color: #000;  
}
h3{
	font-family: space;
}
.button,button:hover, button:focus, .button:hover, .button:focus{
	background-color: #00BF99;
}
.backAddress{
	color: #fff;
	background-color: #00BF99;
	width: 59.8%;
	z-index: 80;
	margin-top: -41.4%;
	margin-left: 20.1%;
}
#mapa{
	margin-top: 4%;
}