*{

	margin: 0px;
	padding: 0px;
	font-family: verdana;
}

.medida{
	height: 100%;
	float:center;
}

@font-face {
        font-family: "letterType";
		src:url('/sisbyte/statics/font/Sistypos/Goffik-O.ttf');	
	}

@font-face {
        font-family: "letterOutline";
		src:url('/sisbyte/statics/font/Sistypos/OIL.ttf');	
	}

@font-face {
        font-family: "letterHelvetic";
		src:url('/sisbyte/statics/font/Sistypos/HelveticaWorld-Bold.ttf');	
	}


div.contentButton{
	position: relative;
	width: 8%;
	float: left;
	margin-left: 6.5%;	
	text-align: left;
	height: 100%;
}

div.contentLogo{
	margin: 0px;
	padding: 0px;
	width: 25%;
	float: left;

}

img.iconFlat{

	width: 50px;
	visibility: visible;
	position:absolute;
	display: inline-block;
	vertical-align: center;
	margin-left: 18%;
	background-color: rgba(150,150,150,0);
	z-index: 150
}

img.icon3D{

	width: 50px;
	visibility: visible;
	position:absolute;
	display: inline-block;
	vertical-align: center;
	margin-left: 18%;
	background-color: rgba(150,150,150,0);
	z-index: 100;
}

img.iconlogo{
	margin: 0px;
	padding-top: 0px;
	width: 100%;
	background-color: rgba(0,0,0,0);
}

.letterCaption{
	visibility: hidden;
	font-family: "letterHelvetic";
	/*src:url('/sisbyte/statics/font/Sistypos/Helvetica/Helvetica/HelveticaInseratLTStd-Roman.otf');*/
	font-size: 1.5;
/*	text-shadow: -1px 0 white, 0 -1px white, -1px 0 white, 0 -1px white;
	text-shadow: 1px 0 white, 0 1px white, 1px 0 white, 0 1px white;*/
	text-shadow: 0 0 .35em #FFF, 0 0 .35em #FFF;
	color:black;
	text-align: center;
	margin-top: 50px;
}

#menu{
	position: fixed;
	margin-top: 0px;
	height: 16%;
	width: 100%;
	background: transparent;
	color: white;
	z-index: 99;
}

.centerButton{
	width: 75%;
	float: left;
	margin-top: 20px;	
	position: static;
}

.iconFlat:hover{
	visibility: hidden;
}

#oneFlat:hover ~ #one, 
#twoFlat:hover ~ #two, 
#threeFlat:hover ~ #three, 
#fourFlat:hover ~ #four,
#fiveFlat:hover ~ #five,
#sixFlat:hover ~ #six  
{
	visibility: visible;
} 

#one3D:hover ~ #one, 
#two3D:hover ~ #two, 
#three3D:hover ~ #three, 
#four3D:hover ~ #four,
#five3D:hover ~ #five,
#six3D:hover ~ #six 
{
	visibility: visible;
}

#one3D:hover ~ #oneFlat, 
#two3D:hover ~ #twoFlat, 
#three3D:hover ~ #threeFlat, 
#four3D:hover ~ #fourFlat,
#five3D:hover ~ #fiveFlat,
#six3D:hover ~ #sixFlat 
{
	visibility: hidden;
}

.iconFlat:hover .letterCaption{
	visibility: visible;
}

.icon3D:hover{
	z-index:150;
}

.icon3D:hover .letterCaption{
	visibility: visible;
}

#imgConstruccion {
	width: 100%;
	/*height: 300px;*/
	/*padding-top: 10%;*/
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 10%;

}

.border{
	border: 1px solid #C00;
}

