#home{
	padding-top: 10%;
	background-color: #000;
}
#web{
	padding-top: 10%;
	background-color: #9933FF;
}
#mobile{
	padding-top: 10%;
	background-color: #66FFCC;
}
#server{
	padding-top: 10%;
	background-color: #00FFFF;
}
#about{
	padding-top: 10%;
	background-color: #006600;
}
#contact{
	padding-top: 10%;
	background-color: #626262;
}


.formato{
	height: 110%;
}
.container{
	height: 91%;
}
#menu{
	position: fixed;
	margin-top: 0px;
	height: 5%;
	width: 100%;
	background: #000;
	color: white;
	z-index: 99;
}
