.carrusel_Class{
	width: 50% !important;
	margin-left: 25%;
	margin-top: 5%;
	height: auto;
}

.custom_carruselContainer{
	width: 90%;
	height: 1em;
	margin-left: 5%;
	padding-top: 2%;
}

.mainImageContainer{
	width: 90%;
	height: auto;
}

.homeImage{
	width: 90%;
	height: auto;
	margin-left: 10%;
}

.footerSliderImage{
	width: 20%;
	margin-left: 40%;
}

.footerSlider{
	position: fixed;
	bottom: 0;
	background-color: #afafaf;
	width: 60%;
	height: 2em;
	margin-left: 20%;
	-webkit-border-top-left-radius: 120px;
	-webkit-border-top-right-radius: 120px;
	-moz-border-radius-topleft: 120px;
	-moz-border-radius-topright: 120px;
	border-top-left-radius: 120px;
	border-top-right-radius: 120px;
}

.el_footer{
	position: fixed;
	width: 100%;
	height: 18%;
	top: 100%;
	background-color: red;
	opacity: 0.1;
	z-index: 2000;
	-webkit-box-shadow: 0px -3px 2px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px -3px 2px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px -3px 2px 0px rgba(0, 0, 0, 1);
}