@font-face {
	font-family: space;
	src: url('../font/Sistypos/space-bd-bt-bold.ttf');
}

#footer{
	/*display: none;*/
}

.pie {
	background-color: #8CC63F;
	/*padding-top: 10%;*/
	/*height: 50%;*/

}

.escudos {
	float:left;
	width:12.5%;
	padding-left: 3%;
	padding-right: 3%;
	/*height:90px;*/
	/*margin:5px;*/
}

#lineaVertical {
	width:0.15em;
	height: 15em;
	background: #fff;
}

#lineaHorizontal {
	display: block; height: 1px;
    border: 0; border-top: 3px solid #fff;
    margin: 1em 0; padding: 0;
}

#derechos {
	font-family: space;
	text-align: center;
	color: #fff;
}

#idbotonfooter {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	background-color: #8CC63F;
	text-align: center;
	font-weight: bolder;
	color: #fff;
	z-index: 99;
}